<!DOCTYPE html>
<html>
<head>
  <title>Joe</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h3>Editable input test</h3>	
<div id="content"></div>
<script type="text/javascript">
window.router = new Joe.Routers.Main();
Backbone.history.start();
</script>
</body>
</html>
